<%= link_to personaje_path(personaje["id"]), 
    class: "block",
    data: { turbo: false } do %>
  <div style="background-color: <%= personaje["dominant_color"] %>;" class="rounded-xl p-4 shadow-md cursor-pointer hover:shadow-lg transition-shadow duration-300">
    <img src="<%= personaje["image"] %>" alt="<%= personaje["name"] %>" 
         class="w-full h-80 object-contain rounded-md img-zoom" loading="lazy">
    <h2 class="mt-2 text-xl font-semibold text-center"><%= personaje["name"] %></h2>
    <p class="text-sm text-center <%= personaje["fondo_oscuro"] ? 'text-gray-200' : 'text-gray-600' %>">
      Raza: <%= personaje["race"] %>
    </p>
  </div>
<% end %>